:root {
    --background: #313131;
    --foreground: #414141;
    --highlight: #525252;
    --accent: #ca3e47;
}



body {
    background-color: var(--background);
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    color: var(--accent);
    display: grid;
    padding: 10px;
    grid-template-rows: 10% 90%;
}

.title {
    background-color: var(--foreground);
    color: var(--accent);
    padding-left: 15px;
    border-radius: 10px;
    text-align: center;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

.sideBarLeft {
    background-color: var(--highlight);
    opacity: 90%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

.sideBarLeft h2 {
    color: white;
}

.sideBarLeft p {
    color: lightgrey;
}

.sideBarLeft span {
    color: grey;
}

.main {
    color: white;
}

.sideBarRight {
    background-color: var(--highlight);
    opacity: 90%;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

.sideBarRight h2 {
    color: white;
}

.sideBarRight p {
    color: grey;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--accent);
    text-decoration: none;
}

footer {
    background-color: var(--foreground);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
